<div class="page-projets">
  <h1>Mes Projets</h1>

  <div class="liste-projets">
    <!-- Boucle pour afficher chaque projet -->
    <div *ngFor="let projet of projets" class="carte-projet">
      <img [src]="projet.image" [alt]="projet.titre">
      
      <h2>{{ projet.titre }}</h2>
      <p>{{ projet.description }}</p>
      
      <div class="technologies">
        <span *ngFor="let tech of projet.technologies">{{ tech }}</span>
      </div>
      
      <div class="liens">
        <a *ngIf="projet.lienGithub" [href]="projet.lienGithub">Voir le code</a>
        <a *ngIf="projet.lienDemo" [href]="projet.lienDemo">Voir la démo</a>
      </div>
    </div>
  </div>
</div>